<!-- <app-isFavortie [is-Favortie]="post.isFavorite" (change)="onFavChnage($event)"></app-isFavortie>

<!-- <bootstrap-panel>
    <ng-container class='head'>head here</ng-container>
    <div class='body'>
        <div>body is here</div>
        <h2>somertese here</h2>
    </div>
</bootstrap-panel> -->
<!--<like [isLiked]='tweet.isLiked' [count]='tweet.count'>
    <div class='tweetText'>{{tweet.body}}</div>
</like> -->

<!-- <app-directives></app-directives> -->

<app-switchtest></app-switchtest>