<form #f="ngForm" name="loginForm" (ngSubmit)="onSubmit(f)">
    <div class='form-group'>
        <div class="col-xs-2">
            <label for="userName">Username :</label>
            <input required minlength="3" maxlength="10" pattern="banana" id="userName" ngModel name="userName" #userName="ngModel" (change)="log(userName)" type="text" class='form-control' />
            <div class="alert alert-danger" *ngIf="userName.touched && !userName.valid">
                <div *ngIf="userName.errors.required">Username is required</div>
                <div *ngIf="userName.errors.minlength">Username should be minimum {{userName.errors.minlength.requiredLength}} length</div>

                <div *ngIf="userName.errors.pattern">Username is not mattched with patterrns</div>
            </div>
        </div>
    </div>
    <div class='form-group'>
        <div class="col-xs-2">
            <label for="password">Password :</label>
            <input required id="password" ngModel name="password" #password="ngModel" type="password" class='form-control' />
            <div class="alert alert-danger" *ngIf="password.touched && !password.valid">password is required</div>
        </div>

        <br>
        <div class='form-group'>
            <label for="contactMethod'">
            <select multiple id='contactMethod' ngModel name="contactMethod">
              <option value=""></option>
              <option *ngFor="let method of contactMethod" [ngValue]=method>{{method.method}}</option>
            </select>
          </label>
        </div>
        <div *ngFor="let day of days" class="radio">
            <label for="dayOfWeek">
            <input type="radio" ngModel name="dayOfWeek" [value]='day.id'>
            {{day.day}}
        </label>
        </div>
        <div>
            <label>
              <input type="checkbox" ngModel name="isSubscribed"> Subscribe for emails
            </label>

        </div>

        <p>
            {{f.value|json}}
        </p>
        <div>
            <button [disabled]="!f.valid" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>